.actionButtons {
  display: flex;
  justify-content: center;
  width: 50vh;
  max-width: 500px;
  margin: auto;
  gap: 10px;
  padding-bottom: 25px;
}

.button {
  width: 30%;
}

.slider-container {
  display: flex;
  width: 50vh;
  max-width: 500px;
  margin: auto;
  gap: 10px;
}

.slider {
  height: 100%;
  width: 100%;
}
