.chip-heap {
  display: flex;
}

.chips {
  height: 80px;
  width: 80px;
  background-image: url("../../../imgs/DALL-E\ chips.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pot-size {
  color: white;
  font-size: 24px;
}
